*, *::before, *::after{box-sizing: border-box;}
header{width: min(384px, 100% - 2rem);
height: auto;
padding: 2.5rem;
display: flex;
flex-direction: column;
align-items: center;
gap: 1rem;
text-align: center;
background-color:  hsl(0, 0%, 12%);}
body{font-family:  "Inter", sans-serif;}
img{border-radius: 50%;
width:95px ;
height: 95px;
margin-bottom: 0.5rem;}
h1{font-weight: 700;
color:hsl(0, 0%, 100%); }
.p1{color: hsl(75, 94%, 57%) ;
font-weight:600 ;
margin-bottom: 1rem;}
p{font-weight: 400;
color:rgb(199, 197, 197) ;}
  body{display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
background-color:  hsl(0, 0%, 8%);}
.links a{width: 300px;
  font-weight: 700;
height: 45px;
border: 10px black;
border-radius: 5px;
font-size: 14px;}
.links{list-style: none; padding: 0; margin: 0; display: grid; gap: 1rem;}
.links a{
  display: block;
  padding: .75rem;
  text-align: center;
  border-radius: 8px;
  background-color: hsl(0, 0%, 22%);
  color: hsl(0, 0%, 100%);
  font-weight: 700;
  text-decoration: none;
  margin-top: 0.3rem;
}
.links a:hover,
.links a:focus-visible{background-color: hsl(75, 94%, 57%);
color: hsl(0, 0%, 8%);}
.links a:active{background-color: hsl(75, 94%, 57%);}
header h1{margin: 0;}
header p{margin: 0;}